<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Appenders>
        <RollingFile name="File" fileName="logs/hotel_log.log" filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH-mm}-%i.log">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
                <TimeBasedTriggeringPolicy interval="10" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="4" />
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="File" />
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>