.tab-container {
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    height: 100%;
    margin: 0;
}

.link-panel {
    width: 720px;
    margin: auto;
    padding: 10px;
}
.tab-link {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.3%;
}

.tab-link:hover {
    background-color: #777;
}

.tab-content {
    color: black;
    display: none;
    padding: 50px 20px;
    height: 100%;
    text-align: center;
}

table {
    margin: auto;
}

.label-cell {
    float: right;
    padding: 5px 10px;
}

.block-message{
    color: orangered;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    line-height: 1px;
    border: orange solid 2px;
    border-radius: 8px;
}

@media screen and (max-width: 720px) {
    .link-panel {
        width: 100%;
    }
    .tab-content {
        width: 100%
    }
}
