.tab-content {
    display: none;
}

.info-table {
    border-collapse: collapse;
}

.info-table td:first-child {
    background-color: #cceeff;
    font-style: italic;
    font-weight: bold;
}

.info-table th,
.info-table td {
    padding: 10px;
    border: 1px solid #00aeff;
}